<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">
        
	<!-- 用户实例 -->
	<bean id="user" class="com.springlearn.model.User"/>
	
	<!-- 服务实例 -->
	<bean id="userService" class="com.springlearn.service.impl.UserServiceImpl"/>
	<!-- 切面实例 -->
	<bean id="userAspect" class="com.springlearn.advice.UserAspect"/>

	<aop:config>
		<!-- 切面（要代理做的事：类） -->
		<aop:aspect id="uAspect" ref="userAspect">
			<!-- 切点（代理的切入位置） -->
			<aop:pointcut expression="execution(* com.springlearn.service..*.*(..))" id="businessService"/>
			
			<!-- 通知（代理要做的事） -->
			<aop:before method="doBefore" pointcut-ref="businessService"/>
			<aop:after method="doAfter" pointcut-ref="businessService"/>
			<aop:around method="doAround" pointcut-ref="businessService"/>
			<aop:after-returning method="doAfterReturning" pointcut-ref="businessService"/>
			<aop:after-throwing method="doAfterThrowing" pointcut-ref="businessService" throwing="ex"/>
		</aop:aspect>
	</aop:config>
	
</beans>
	