<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sssunday.dao.IUserDao">

	<resultMap type="com.sssunday.model.User" id="UserMap">
		<result column="ID" property="id"/>
		<result column="NAME" property="name"/>
		<result column="AGE" property="age"/>
	</resultMap>
	
	<resultMap type="com.sssunday.model.Parent" id="ParentMap">
		<result column="ID" property="id"/>
		<result column="NAME" property="name"/>
		<result column="price" property="price"/>
		<collection property="childs" resultMap="ChildMap" ofType="com.sssunday.model.Parent"/>
	</resultMap>
	
	<resultMap type="com.sssunday.model.Child" id="ChildMap">
		<result column="CHILD_ID" property="id"/>
		<result column="PARENT_ID" property="parentId"/>
		<result column="STR" property="str"/>
	</resultMap>
	
	<sql id="ParentAndChildColumn">
		p.ID,p.NAME,p.PRICE,c.ID CHILD_ID,c.parent_id,c.str
	</sql>
	
	<sql id="UserColumn">
		ID,
		NAME,
		AGE
	</sql>
	
	<select id="queryUser" resultMap="UserMap">
		select 
		<include refid="UserColumn"/>
		from User
		<where> 
		<if test="id != null">
		and id=#{id}
		</if>
		</where>
	</select>
	
	<insert id="insertUser" parameterType="com.sssunday.model.User">
		<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS ID 
	  	</selectKey>
		insert into User (name,age) values (#{name},#{age})
	</insert>
	
	<select id="testCollection" resultMap="ParentMap">
		select <include refid="ParentAndChildColumn"></include>
		from parent p
		join child c
		on p.id = c.parent_id
	</select>
</mapper>