<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.UserDao">

	<resultMap type="com.sssunday.model.User" id="UserMap">
		<result column="ID" property="id"/>
		<result column="NAME" property="name"/>
		<result column="AGE" property="age"/>
	</resultMap>
	
	<sql id="UserColumn">
		ID,
		NAME,
		AGE
	</sql>
	
	<select id="queryUser" resultMap="UserMap">
		select 
		<include refid="UserColumn"/>
		from User
	</select>
</mapper>